<%= form_for(@meme) do |f| %>
  <% if @meme.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@meme.errors.count, "error") %> prohibited this meme from being saved:</h2>

      <ul>
      <% @meme.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :meme_type %><br>
    <%= f.select :meme_type, options_for_select([
      ['Aint Nobody Got Time For That', 'Aint+Nobody+Got+Time+For+That'], 
      ['Ancient Aliens', 'Ancient+Aliens'],
      ['Bad Luck Brian', 'Bad+Luck+Brian'],
      ['Captain Picard Facepalm', 'Captain+Picard+Facepalm'],
      ['Condescending Wonka', 'Conspiracy+Keanu'],
      ['Cool Story Bro', 'Cool+Story+Bro'],
      ['Dat Ass', 'Dat+Ass'],
      ['Deadpool Pick Up Lines', 'Deadpool+Pick+Up+Lines'],
      ['Dont You Squidward', 'Dont+You+Squidward'],
      ['Forever Alone ', 'Forever+Alone'],
      ['Neil deGrasse Tyson', 'Neil+deGrasse+Tyson'],
      ['Yao Ming', 'Yao+Ming']
    ])%>
  </div>
  <div class="field">
    <%= f.label :top_text %><br>
    <%= f.text_field :top_text %>
  </div>
  <div class="field">
    <%= f.label :bottom_text %><br>
    <%= f.text_field :bottom_text %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<script type="text/javascript">
$(document).ready(function() {
    $('select').material_select();
});
</script>