<p id="notice"><%= notice %></p>

<p id="meme-type">
  <strong>Meme type:</strong>
  <%= @meme.meme_type %>
</p>

<p>
  <strong>Top text:</strong>
  <%= @meme.top_text %>
</p>

<p>
  <strong>Bottom text:</strong>
  <%= @meme.bottom_text %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @meme.rating %>
</p>
<p>
<%= @url = "http://apimeme.com/meme?" + @meme.meme_type + "&top=" + @meme.top_text + "&bottom=" + @meme.bottom_text %>
<img src = @url></img>
</p>

<%= link_to 'Edit', edit_meme_path(@meme) %> |
<%= link_to 'Back', memes_path %>

<script type="text/javascript">
	var str = document.getElementById("meme-type").innerHTML;
	var res = str.replace(/[+]/g, " ");
	document.getElementById("meme-type").innerHTML = res;
</script>